@tailwind base;
@tailwind components;
@tailwind utilities;

/* Globales simples (sin @apply para evitar el error) */
html, body, #root { height: 100%; }
body { margin: 0; font-family: Inter, system-ui, -apple-system, Segoe UI, Roboto, sans-serif; }
