/* Tailwind v4 */
@import "tailwindcss";

/* Tu tema (colores y fuentes personalizadas) */
@theme {
  --color-brand: #0E375F;
  --color-mint:  #B5EAEA;
  --color-sky:   #BDE0FE;
  --color-peach: #FFD6A5;
  --color-lilac: #CDB4DB;
  --color-lime:  #D9ED92;

  --font-display: "Poppins", ui-sans-serif, system-ui;
  --font-body:    "Inter", ui-sans-serif, system-ui;

  --radius-2xl: 1.25rem;
}

/* Globales */
html, body, #root { height: 100% }
body {
  margin: 0;
  font-family: var(--font-body);
}
